AI_API_KEY=
AI_BASE_URL=https://coloful-rose.com/v1
AI_MODEL=gpt-5.4

NEXT_PUBLIC_SUPABASE_URL=https://esggnbvhfpfcyknlzqov.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_840mSNwAzSYWVp0ERITtMw_6uNTCk1o
SUPABASE_SERVICE_ROLE_KEY=
